#binary-search-parent {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;

  #array-parent {
    display: flex;
    justify-content: center;
    align-items: center;

    .array-box {
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0.5rem;
      border-radius: 5px;
      box-shadow: 0 0 5px 0 #000;
      transition: all 0.2s ease-in-out;

      &.visited {
        opacity: 0.1;
      }
      &.start-box,
      &.end-box,
      &.mid-box {
        transform: scale(1.5);
        box-shadow: 0 0 10px 0 blue;
        margin: 0.5rem 1.2rem;
        &::before {
          content: "Start";
          position: absolute;
          top: -25px;
          left: 50%;
          transform: translateX(-50%);
          font-size: 1.2rem;
        }
      }
      &.end-box {
        &::before {
          content: "End";
        }
      }
      &.mid-box {
        box-shadow: 0 0 10px 0 red;
        &::before {
          content: "Mid";
        }
      }
      &.found {
        box-shadow: 0 0 10px 0 green;
        margin-left: 1.2rem;
        margin-right: 1.2rem;
        transform: scale(1.5);

        &::before {
          content: "Found";
        }
      }
    }
  }

  #input-array-parent {
    form {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 50px;

      input {
        width: 200px;
        height: 50px;
        border: 1px solid black;
        border-radius: 5px;
        padding: 0 8px;
        font-size: 1.5rem;
        text-align: center;
      }
    }

    #random-generation {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 50px;

      label {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 1.2rem;
        gap: 10px;

        input[type="range"] {
          -webkit-appearance: none;
          width: 100%;
          height: 15px;
          border-radius: 5px;
          background-color: #fff;
          outline: none;
          cursor: pointer;
          transition: all 0.3s linear;
          box-shadow: 0 0 5px 0 #000;

          &::-webkit-slider-thumb {
            -webkit-appearance: none;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background-color: #000;
            cursor: pointer;
            transition: all 0.3s linear;
          }

          &::-webkit-slider-runnable-track {
            width: 100%;
            cursor: pointer;
            border-radius: 5px;
          }
        }

        input[type="range"]:hover {
          box-shadow: 0 0 5px 0 #000;
        }

        input[type="range"]:hover::-webkit-slider-thumb {
          box-shadow: 0 0 5px 0 #000;
        }
      }
    }

    form,
    #random-generation {
      display: none;
    }
  }

  #options,
  #input-array-parent {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
  }

  #target-box {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 20px;
    font-size: 1.5rem;
    border: 2px solid black;
    box-shadow: 0 0 5px 0 black;
    display: none;
  }

  button {
    width: 200px;
    height: 50px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s linear;

    &:hover {
      background-color: #000;
      color: #fff;
    }

    &:disabled {
      background-color: #fff;
      cursor: not-allowed;
      opacity: 0.5;
    }
  }

  #search-btn {
    display: none;
  }

  #search-again {
    display: none;
  }
}
